@charset "UTF-8";

html {
    height: 100%;
}
body {
    min-height: 100%;
}

.header {
    min-width: 1512px;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
}

.gnav li {
    list-style: none;
}

.gnav-list {
    display: flex;
}

.gnav-list li {
    margin-left: 30px;
    font-weight: bold;
}
.example1 img {
    position: absolute;
    max-width: 1512px;
    height: 758px;
    left: 0px;
    top: 93px;
}
.about {
    margin: 48px 1336px 0px 65px;
    background-color: aqua;
}
.name {
    margin: 41px 1195px 0px 102px;
}
.shortcut {
    width: 797px;
    display: flex;
    justify-content: flex-end;
}
.shortcut li {  
    margin-left: 30px;
    list-style: none;
    background-color: blue;
}
.explanation {
    width: 797px;
    word-wrap: break-word;
    margin: 43px 613px 0px 102px;
    background-color: blueviolet;
}
.contact-logo {
    background-color: aqua;
    width: 797px;
    text-align: center;
}
.example2 {
    position: absolute;
    left: 1019px;
    top: 1000px;
}
.title {
    position: absolute;
    left: 56px;
    top: 1714px;
}