@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 1512px;
    color: aliceblue;
    background-color: black;
}
.header-main {
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.header-image {
    width: 100%;
}
.title  {
    text-align: center;
    height: 93px;
    line-height: 93px;
    margin-left: 39px;
    font-size: 34px;
}
.title img {
    vertical-align: middle;
    margin-right: 23px;
}
.navigate ul {
    margin-right: 37px;
    line-height: 100px;
    height: 93px;
    display: flex;
}
.navigate li {
    margin-left: 30px;
    font-size: 24px;
}
.main-container {
    display: flex;
    height: 863px;
}
.container {
    width: 100%;
}
.main-title {
    margin: 48px 0px 41px 65px;
    font-size: 32px;
}
.name {
    margin: 0px 0px 40px 102px;
    font-size: 24px
}
.text {
    margin: 0px 0px 41.75px 102px;
    font-size: 16px;
    width: 797px;
    height: 322px;
    word-wrap: break-word;
}
.icon ul {
    display: flex;
    justify-content: flex-end;
}
.icon li {
    list-style: none;
    margin-left: 38px;
    margin-bottom: 83px;
}

.contact-btn {
    margin: 0 0 97px 301px;
    line-height: 63px;
    text-align: center;
    font-size: 16px;
    background-color: #AA0000;
    border-radius: 15px;
    width: 382px;
    height: 63px;
}
.main-areaimage {
    margin: 149px 65px 51px 120px;
}
.sub-title {
    margin: 0 0 71px 56px;
    font-size: 32px;
    height: 46px;
}
.img-list {
    padding: 0 100px 0 81px;
    display: grid;
    grid-template-columns: repeat(3,432.14px);
    grid-template-rows: repeat(2,251px);
    column-gap: 17.29px;
    row-gap: 16px;
}
.img-list li {
    list-style: none;
}
.link-btn {
    background-color: #AA0000;
    text-align: center;
    margin: 52px 574px 148px 556px;
    border-radius: 15px;
    width: 382px;
    height: 63px;
    line-height: 63px;
    font-size: 16px;
}
main {
    border-bottom: 1px solid white;
    height: 1761px;
}
.footer {
    height: 93px;
    font-size: 16px;
    line-height: 92px;
    text-align: center;
}
